@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

body{
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}

body ul li {
    list-style-type: none;
}